flows.json
[
    {
        "id": "4085b7988377f648",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4f825eadfcb5a519",
        "type": "inject",
        "z": "4085b7988377f648",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "url",
                "v": "https://my.privatbank.ua/messages/",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "fbd430634484f5c4"
            ]
        ]
    },
    {
        "id": "b8d0376440afdf08",
        "type": "debug",
        "z": "4085b7988377f648",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 100,
        "wires": []
    },
    {
        "id": "fbd430634484f5c4",
        "type": "pb-http-request",
        "z": "4085b7988377f648",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "throwNot200": false,
        "authType": "",
        "headers": "{{headers}}",
        "payload": "{{payload}}",
        "timeout": "",
        "customTimeout": false,
        "x": 360,
        "y": 100,
        "wires": [
            [
                "b8d0376440afdf08"
            ]
        ]
    },
    {
        "id": "a9fe0718a28f06fc",
        "type": "function",
        "z": "4085b7988377f648",
        "name": "",
        "func": "msg.url = \"https://git.privatbank.ua/node-red/0-1105-0\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "7eadea59ee3777d7",
        "type": "pb-http-request",
        "z": "4085b7988377f648",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "https://web.telegram.org/",
        "tls": "",
        "persist": false,
        "throwNot200": false,
        "proxy": "",
        "authType": "",
        "headers": "{{headers}}",
        "payload": "{{payload}}",
        "timeout": "",
        "customTimeout": false,
        "x": 420,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6acb386bcf22559d",
        "type": "CRM",
        "z": "4085b7988377f648",
        "name": "",
        "typesid": "flow",
        "typeevt": "msg",
        "typest": "msg",
        "typesrc": "msg",
        "typeaddrid": "msg",
        "typeaddrtype": "msg",
        "typebank": "str",
        "typelang": "str",
        "typeref": "msg",
        "typemailto": "msg",
        "typeextref": "msg",
        "typeattrs": "msg",
        "req": "param",
        "sid": "sid",
        "evt": "",
        "st": "",
        "src": "",
        "addrid": "",
        "addrtype": "",
        "bank": "PB",
        "lang": "UA",
        "types": "create",
        "typeId": "varibale",
        "params": [
            {}
        ],
        "ownparams": [
            {}
        ],
        "typesState": "",
        "object": {
            "evt": {
                "value": ""
            },
            "st": {
                "value": ""
            },
            "src": {
                "value": ""
            },
            "addrid": {
                "value": ""
            },
            "addrtype": {
                "value": ""
            },
            "bank": {
                "value": ""
            },
            "lang": {
                "value": ""
            }
        },
        "attrs": "",
        "ref": "",
        "attsadd": false,
        "hist": false,
        "arc": false,
        "newparam": false,
        "kibana": false,
        "mainparams": [
            {}
        ],
        "mailto": "",
        "x": 250,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "24cbe1f9a7279c01",
        "type": "hot-message",
        "z": "4085b7988377f648",
        "name": "",
        "typesid": "flow",
        "typecallback": "msg",
        "typetemplate": "msg",
        "typeincharge": "msg",
        "typerecipient": "msg",
        "sid": "sid",
        "callback": "1",
        "template": "2",
        "incharge": "3",
        "recipient": "7",
        "msgtype": "m",
        "x": 270,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e6bc9208be42a440",
        "type": "msg-node",
        "z": "4085b7988377f648",
        "name": "msg-node",
        "businessId": "111",
        "errorId": "888",
        "x": 260,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "cd34dcf130297af1",
        "type": "showcase",
        "z": "4085b7988377f648",
        "name": "",
        "typesid": "flow",
        "typestate": "str",
        "param": "msg.payload",
        "sid": "sid",
        "state": "1",
        "x": 260,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "db2b945927bb1719",
        "type": "sid-gen-def",
        "z": "4085b7988377f648",
        "name": "",
        "login": "",
        "password": "",
        "passwordtest": "",
        "interval": "30",
        "context": "flow",
        "rhost": "[[REDIS_HOST]]",
        "rport": "[[REDIS_PORT]]",
        "rpass": "[[REDIS_PASSWORD]]",
        "x": 260,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "3e1e49c6b9373570",
        "type": "to-cp",
        "z": "4085b7988377f648",
        "name": "",
        "dirupl": "https://cp.privatbank.ua/api/1/json/public/174423/b8129ecce9a1befc232a3ae69b0f9f0fa978f44b",
        "convid": "174423",
        "methodtype": "create",
        "taskref": "",
        "cburl": "",
        "x": 250,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "b1fdb25b30c9790d",
        "type": "EKB",
        "z": "4085b7988377f648",
        "name": "",
        "ident": "ClientId",
        "typesid": "flow",
        "typesysid": "msg",
        "typeoperation": "msg",
        "typeextid": "str",
        "sid": "sid",
        "sysid": "1",
        "operation": "1",
        "extid": "",
        "params": [
            {}
        ],
        "identClient": {
            "notexist": {},
            "single": {
                "empty": "",
                "ClientId": {
                    "value": "1",
                    "descr": "ID клиента",
                    "typeClientId": "msg"
                },
                "FinContact": {
                    "value": "",
                    "descr": "Фин. телефон",
                    "typeFinContact": {
                        "value": "msg"
                    }
                },
                "OKPO": {
                    "value": "",
                    "descr": "ИНН/ОКПО",
                    "typeOKPO": {
                        "value": "msg"
                    }
                },
                "Pan": {
                    "value": "",
                    "descr": "Карта",
                    "typePan": {
                        "value": "msg"
                    }
                },
                "RefContract": {
                    "value": "",
                    "descr": "Договор П48",
                    "typeRefContract": {
                        "value": "msg"
                    }
                },
                "Acc": {
                    "value": "",
                    "descr": "Номер счета",
                    "typeAcc": {
                        "value": "msg"
                    }
                },
                "ContactNumber": {
                    "value": "",
                    "descr": "Контакт",
                    "typeContactNumber": {
                        "value": "msg"
                    }
                },
                "CPNC": {
                    "value": "",
                    "descr": "Базовый №",
                    "typeCPNC": {
                        "value": "msg"
                    }
                }
            },
            "multi": {
                "doc": {
                    "DType": {
                        "value": "",
                        "descr": "Тип",
                        "typeDType": {
                            "value": "msg"
                        }
                    },
                    "DSer": {
                        "value": "",
                        "descr": "Серия",
                        "typeDSer": {
                            "value": "msg"
                        }
                    },
                    "DNum": {
                        "value": "",
                        "descr": "Номер",
                        "typeDNum": {
                            "value": "msg"
                        }
                    }
                },
                "db": {
                    "LName": {
                        "value": "",
                        "descr": "Фамилия",
                        "typeLName": {
                            "value": "msg"
                        }
                    },
                    "FName": {
                        "value": "",
                        "descr": "Имя",
                        "typeFName": {
                            "value": "msg"
                        }
                    },
                    "MName": {
                        "value": "",
                        "descr": "Отчество",
                        "typeMName": {
                            "value": "msg"
                        }
                    },
                    "DB": {
                        "value": "",
                        "descr": "Дата ",
                        "format": "1958-05-25",
                        "typeDB": {
                            "value": "msg"
                        }
                    }
                },
                "adr": {
                    "UADId": {
                        "value": "",
                        "descr": "ID адреса",
                        "typeUADId": {
                            "value": "msg"
                        }
                    }
                },
                "jur": {
                    "JurClientUadId": {
                        "value": "",
                        "descr": "ID адреса",
                        "typeJurClientUadId": {
                            "value": "msg"
                        }
                    },
                    "JurClientSearchName": {
                        "value": "",
                        "descr": "Наименов-е",
                        "typeJurClientSearchName": {
                            "value": "msg"
                        }
                    }
                }
            },
            "multiParam": false,
            "singleParam": true
        },
        "reqObj": {
            "r": [
                {
                    "type": "CL_INF",
                    "SYSID": "1",
                    "Operation": "1",
                    "sid": "sid",
                    "i": {
                        "ClientId": "1"
                    }
                }
            ]
        },
        "kibana": false,
        "x": 270,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "00b98d82826d5a1e",
        "type": "redis-instance",
        "z": "4085b7988377f648",
        "server": "2bd27b9f95b02ad4",
        "name": "",
        "topic": "redis",
        "location": "flow",
        "block": false,
        "x": 350,
        "y": 200,
        "wires": []
    },
    {
        "id": "9fe61639ebeba524",
        "type": "mongodb3 in",
        "z": "4085b7988377f648",
        "service": "_ext_",
        "configNode": "559236fe80c71fe0",
        "name": "",
        "collection": "",
        "operation": "",
        "x": 450,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "02f164517b67c773",
        "type": "postgrestor",
        "z": "4085b7988377f648",
        "name": "",
        "query": "{{{msg.payload}}}",
        "postgresDB": "bacd51cd.6dea1",
        "output": true,
        "outputs": 1,
        "errors": false,
        "outField": "payload",
        "x": 510,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "c2a77ef32995d3b2",
        "type": "MSSQL",
        "z": "4085b7988377f648",
        "mssqlCN": "0eacecf1759603ed",
        "name": "",
        "query": "",
        "outField": "payload",
        "errors": false,
        "x": 500,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "84fb93ca1c680170",
        "type": "rdkafka in",
        "z": "4085b7988377f648",
        "name": "",
        "topic": "1",
        "cgroup": "node-red-rdkafka",
        "autocommit": true,
        "broker": "348f5e192a95fca2",
        "x": 710,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "2fb6313127f4c3d6",
        "type": "websocket in",
        "z": "4085b7988377f648",
        "name": "",
        "server": "645831057a6b5545",
        "client": "",
        "x": 700,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "19b0775e40fdf22a",
        "type": "Kafka Admin",
        "z": "4085b7988377f648",
        "name": "",
        "broker": "d6f46f74b09066ca",
        "x": 730,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e7b92b6c9f127217",
        "type": "amqp2 in",
        "z": "4085b7988377f648",
        "name": "",
        "topic": "",
        "iotype": "4",
        "ioname": "",
        "server": "bd48deb931b26b7f",
        "createnewqueue": false,
        "x": 550,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d16042900898d2c3",
        "type": "mqtt in",
        "z": "4085b7988377f648",
        "name": "",
        "topic": "1",
        "qos": "2",
        "datatype": "auto",
        "broker": "914ec1d674b63065",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 710,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7187e5e908ce92cd",
        "type": "tcp request",
        "z": "4085b7988377f648",
        "name": "",
        "server": "10.2.33.155/check",
        "port": "6666",
        "out": "time",
        "ret": "buffer",
        "splitc": "0",
        "newline": "",
        "tls": "",
        "x": 960,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "065ddbf57755fcdf",
        "type": "udp in",
        "z": "4085b7988377f648",
        "name": "",
        "iface": "",
        "port": "9999",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "buffer",
        "x": 920,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "71f67b2b3ffe1cd8",
        "type": "telegram sender",
        "z": "4085b7988377f648",
        "name": "",
        "bot": "c9cdec4beefd46af",
        "x": 470,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6ecd0c5dba4837da",
        "type": "telegram sender",
        "z": "4085b7988377f648",
        "name": "",
        "bot": "c9cdec4beefd46af",
        "x": 470,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "2bd27b9f95b02ad4",
        "type": "redis-config",
        "name": "Local",
        "options": "{  \"host\": \"[[REDIS_HOST]]\", \"password\": \"[[REDIS_PASSWORD]]\", \"port\": \"[[REDIS_PORT]]\"}",
        "cluster": false,
        "optionsType": "json"
    },
    {
        "id": "559236fe80c71fe0",
        "type": "mongodb3",
        "uri": "mongodb://host1.provider.com:7777,host2..provider.com:7777",
        "name": "",
        "options": "",
        "parallelism": "-1",
        "uritest": "",
        "optionstest": "",
        "test": "",
        "nametest": ""
    },
    {
        "id": "bacd51cd.6dea1",
        "type": "postgresDB",
        "name": "[[PG_USER]]@[[PG_HOST]]:[[PG_PORT]]/[[PG_DB]]",
        "host": "[[PG_HOST]]",
        "hostFieldType": "str",
        "port": "[[PG_PORT]]",
        "portFieldType": "num",
        "database": "[[PG_DB]]",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "max": "10",
        "maxFieldType": "num",
        "min": 1,
        "minFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "user": "[[PG_USER]]",
        "userFieldType": "str",
        "password": "[[PG_PASS]]",
        "passwordFieldType": "str"
    },
    {
        "id": "0eacecf1759603ed",
        "type": "MSSQL-CN",
        "name": "",
        "server": "10.1.192.168",
        "encyption": true,
        "database": "",
        "port": "7788"
    },
    {
        "id": "348f5e192a95fca2",
        "type": "kafka-broker",
        "broker": "broker1:5555,broker2:5566",
        "clientid": "",
        "security_protocol": "plaintext",
        "sasl_mechanism": "GSSAPI",
        "ssl_ca_location": ""
    },
    {
        "id": "645831057a6b5545",
        "type": "websocket-listener",
        "path": "/ws/example",
        "wholemsg": "false"
    },
    {
        "id": "d6f46f74b09066ca",
        "type": "Kafka Broker",
        "name": "",
        "hosts": [
            {
                "host": "127.0.0.1",
                "port": 9092
            }
        ],
        "testHosts": [
            {
                "host": "127.0.0.1",
                "port": 9092
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "selfSign": true,
        "usetls": false,
        "useCredentials": false
    },
    {
        "id": "bd48deb931b26b7f",
        "type": "amqp2-server",
        "host": "tran-rmq1.crm.it.loc",
        "port": "5672",
        "vhost": "",
        "keepalive": "30",
        "usetls": false,
        "verifyservercert": true
    },
    {
        "id": "914ec1d674b63065",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localHostMqtt",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "c9cdec4beefd46af",
        "type": "telegram bot",
        "botname": "test_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false,
        "credentials": {
            "token": "65464113"
        }
    }
]
